{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <style>
        form {
            width: 50%;
            margin: auto;
            border: 1px solid black; 
        }
        label {
            width: 50%;
            float: left;
            text-align: right;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Login</h1>
    <hr/>
    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    <hr/>
    {% endif %}
    <form action="{{ path('admin_login') }}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" id="login" value="Login" />
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    </form>
{% endblock %}
