{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>Home</h1>
    <hr />
    <ul>
        <li><a href="{{ path('api_index'  ) }}">API</a></li>
        <li><a href="{{ path('admin_index') }}">Admin</a></li>
    </ul>
    <hr />
    <pre>{ { dump(app) } }</pre>
    <hr />
{% endblock %}
