{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div>
    <p>Logged in as <code>{{ app.user.username }}</code></p>
    <hr />
    {{ dump(app.user) }}
    <hr />
    <a href="{{ path('admin_logout') }}">Logout</a>
</div>
{% endblock %}
